<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trans.iprobe" version="0.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iProbe</name>
    <description>
        App for bluetooth communication with iProbe.
    </description>
    <author email="martin.nigel@transense.co.uk" href="http://transense.co.uk/">
        
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="com.megster.cordova.bluetoothserial" />
</widget>
